@import "tailwindcss";
@plugin "daisyui";

/* Your color tokens */
@theme {
  --color-crimson-tide: #d31638;
  --color-royal-plum: #a71666;
  --color-sunstone: #e68815;
  --color-mist-aqua: #c5dfdf;
  --color-desert-taupe: #bd9e84;
  --color-charcoal: #1a1a1a;
  --color-deep-slate: #2d2d2d;
}

/* LIGHT THEME */
@plugin "daisyui/theme" {
  name: "light";
  default: true;

  --color-base-100: white;
  --color-neutral: var(--color-charcoal);

  --color-primary: var(--color-crimson-tide);
  --color-secondary: var(--color-royal-plum);
  --color-accent: var(--color-sunstone);
}

/* DARK THEME */
@plugin "daisyui/theme" {
  name: "dark";
  prefersdark: true;

  --color-base-100: var(--color-charcoal);
  --color-neutral: var(--color-deep-slate);

  --color-primary: var(--color-royal-plum);
  --color-secondary: var(--color-crimson-tide);
  --color-accent: var(--color-sunstone);
}
