@import "tailwindcss";
@plugin "daisyui" {
  themes:
    winter --default,
    night --prefersdark;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
